html{
    background-color: #ffffff;
    margin: 0px auto;
}
/* header */
header{
    min-height: 60px;
    color: black;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    display: flex;
    margin-left: 65px;
}

.nav{
    display: flex;
    margin-right: 65px;
}

.nav_list{
    display: flex;
    list-style: none;
}

.nav_list a{
    display: block;
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: bold;
    margin: 0px 18px;
}
.main{
    display: flex;
    justify-content: center;
    margin: 0px auto;
}
.img_main_img{
    width: 1440px;
    height: 287.2px;
    display: block;
    margin: auto;
}
.title{
    display: flex;
    margin: 30px 0px 40px 30px;
    font-family: sans-serif;
}
/* MEALS FIVE*/
.meals_five{
    display: flex;
    justify-content: space-around;
    font-family: sans-serif;
}
/* hambuger */
.box_hambuger p{
    display: flex;
    justify-content: center;
}
.meals_hambuger:hover{
    transform:scale(1.25,1.25);
}
.box_hambuger{
    background-color: wheat;
    border-radius: 10px;
}
.text_hambuger{
    display: flex;
    line-height: 30px;
    font-size: 13px;
    justify-content: center;
}
/* sandwich */
.box_sandwich p{
    display: flex;
    justify-content: center;
}
.meals_sandwich:hover{
    transform:scale(1.25,1.25);
}
.box_sandwich{
    background-color: wheat;
    border-radius: 10px;
}
.text_sandwich{
    display: flex;
    line-height: 30px;
    font-size: 13px;
    justify-content: center;
}
/* quiche */
.box_quiche p{
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}
.meals_quiche:hover{
    transform:scale(1.25,1.25);
}
.box_quiche{
    background-color: wheat;
    border-radius: 10px;
}
.text_quiche{
    display: flex;
    line-height: 30px;
    font-size: 13px;
    justify-content: center;
}
/* biscuits */
.box_biscuits p{
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}
.meals_biscuits:hover{
    transform:scale(1.25,1.25);
}
.box_biscuits{
    background-color: wheat;
    border-radius: 10px;
}
.text_biscuits{
    display: flex;
    line-height: 30px;
    font-size: 13px;
    justify-content: center;
}
/* jamtoast */
.box_jamtoast p{
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}
.meals_jamtoast:hover{
    transform:scale(1.25,1.25);
}
.box_jamtoast{
    background-color: wheat;
    border-radius: 10px;
}
.text_jamtoast{
    display: flex;
    line-height: 30px;
    font-size: 13px;
    justify-content: center;
}
/* MEALS THREE*/
.meals_three{
    display: flex;
    justify-content: flex-start;
    font-family: sans-serif;
    margin-top: 120px;
    margin-bottom: 80px;
    margin-left: 15px;
}
/* hotfood */
.hotfood{
    margin-left: 30px;
}
.meals_hotfood:hover{
    transform:scale(1.25,1.25);
}
.box_hotfood p{
    display: flex;
    justify-content: center;
}
.box_hotfood{
    background-color: wheat;
    border-radius: 10px;
}
.text_hotfood{
    display: flex;
    line-height: 30px;
    font-size: 13px;
    justify-content: center;
}
/* friedfood */
.friedfood{
    margin-left: 60px;
}
.meals_friedfood:hover{
    transform:scale(1.25,1.25);
}
.box_friedfood p{
    display: flex;
    justify-content: center;
}
.box_friedfood{
    background-color: wheat;
    border-radius: 10px;
}
.text_friedfood{
    display: flex;
    line-height: 30px;
    font-size: 13px;
    justify-content: center;
}
/* drink */
.drink{
    margin-left: 70px;
}
.meals_drink:hover{
    transform:scale(1.25,1.25);
}
.box_drink p{
    display: flex;
    justify-content: center;
}
.box_drink{
    background-color: wheat;
    border-radius: 10px;
}
.text_drink{
    display: flex;
    line-height: 30px;
    font-size: 13px;
    justify-content: center;
}
/* content */
.content{
    display: flex;
    width: 240px;
    height: 230px;
    margin-left: 60px;
    border: 5px solid wheat;
    border-radius: 15px;
    flex-direction: column;
    font-family: sans-serif;
}
.add_food{
    margin-left: 15px;
}
.add_text{
    display: flex;
    flex-direction: row;
}
.add_food_text{
    display: flex;
    justify-content: flex-start;
    margin-left: 15px;
    font-size: 14px;
    margin-right: 30px;
}
.add_food_price{
    font-size: 15px;
    line-height: 19px;
}
/* footer */
.box_footer{
    background-color: #454545;
}
.footer_content{
    display: flex;
    flex-direction: row;
}
.mei_footer{
    width: 55px;
    height: 55px;
    margin: 50px 25px 30px 30px;
}
.footer_text{
    color: white;
    font-family: Arial;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    margin: 55px 30px 30px 0px;
}
.text1{
    margin-right: 60px;
    font-family: sans-serif;
}
.text2{
    margin: 35px 25px 0px 0px;
    font-family: sans-serif;
}
.text3{
    margin: 35px 25px 0px 0px;
    font-family: sans-serif;
}
.text4{
    font-size: 14px;
    margin-left: 330px;
    font-family: sans-serif;
}
